<div id="wrapper">
    <div class="wrapper-holder">
        <header id="header">
            <a class="menu_trigger" href="#">menu</a>
                <nav id="nav">
                    <ul>
                        <li><a class="active" href="index.html">Home</a></li>
                        <li><a href="myskills.html">My skills</a></li>
                        <li><a href="Portfolio.html">Portfolio</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                    </ul>
                </nav>
            <h1 class="logo">John Markowitz</h1>
            <h2 class="slogan">Professional Web Designer</h2>
        </header>
    </div>
</div>
