.row {
	float: right;
}

.language {
	display: block;
	position: relative;
	bottom: 38px;
}

.language li {
	display:inline-block;
	padding: 0 15px;
	float:none;
}

@media only screen and (max-width : 768px) {

	.row {
		float: none;
	}

	.language-responsive {
		position: relative;
		bottom: -8px;
		/* right: 45px; */
		left: 261px;
	}

	.language-responsive li {
		display:inline-block;
		padding: 0 15px;
		float:none;
	}

	.language {
		display: none;
	}
	/* .language li {
		display:block;
		padding: 0;	
	}
	.language li a {
		display:block;
		padding: 8px;
	}
	.language li a:hover {
		color: #fff;
		text-decoration:none;
	} */
}