<header id="header">
    <a class="menu_trigger" (click)="showNav()" href="#">menu</a>
        <nav id="nav">
            <ul>
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
                <li><a routerLink="/my-skills" routerLinkActive="active" >My skills</a></li>
                <li><a routerLink="/portfolio" routerLinkActive="active" >Portfolio</a></li>
                <li><a routerLink="/contact" routerLinkActive="active" >Contact</a></li>
            </ul>
        </nav>
    <div class="row">
        <ul class="language-responsive" [hidden]="showNavFlag">
            <li>
                <button (click)="useLanguage('es')">
                    <img class="flag-img" src="./assets/images/spain_flag_icon_512px.png" alt="ESP flag" width=30/>
                </button>
            </li>
            <li>
                <button (click)="useLanguage('en')">
                    <img class="flag-img" src="./assets/images/kingdom_national_united_world_icon_512px.png" alt="UK flag" width=30/>
                </button>
            </li>
        </ul>
        <ul class="language">
            <li>
                <button (click)="useLanguage('es')">
                    <img class="flag-img" src="./assets/images/spain_flag_icon_512px.png" alt="ESP flag" width=30/>
                </button>
                <!-- <a href="#">ESPAÑOL</a> -->
            </li>
            <li>
                <button (click)="useLanguage('en')">
                    <img class="flag-img" src="./assets/images/kingdom_national_united_world_icon_512px.png" alt="UK flag" width=30/>
                </button>
                <!-- <a href="#">INGLÉS</a> -->
            </li>
        </ul>
    </div>
    <div class="row">
        <h1 class="logo">Juan Montero</h1>
        <h2 class="slogan"> {{ 'HOME.TITLE' | translate }} </h2>
    </div>
</header>