<footer id="footer container">
    <div class="footer-content">
        <ul class="social">
            <li class="email"><a href="#">Email</a></li>
            <li class="facebook"><a href="#">Facebook</a></li>
            <li class="google"><a href="#">Google+</a></li>
            <li class="twitter"><a href="#">Twitter</a></li>
            <li class="pinterest"><a href="#">Pinterest</a></li>
        </ul>
        <p class="copy">Copyright 2021 Juan Montero. All rights reserved.</p>
    </div>
</footer>
